Repository cloudnativedaysjp/cnd-handson, pull requests merged in 2024-10, with the labels that each got.

#362 Gateway APIのインストール方法の変更
  chapter_cluster-create/README.md
Labels: cluster-create

#390 Istio ambientチャプター更新
  README.md
  chapter_istio-ambient-mode/README.md
  chapter_istio-ambient-mode/app/curl-allow.yaml
  chapter_istio-ambient-mode/app/curl-deny.yaml
  chapter_istio-ambient-mode/app/curl.yaml
  chapter_istio-ambient-mode/helm/helmfile.yaml
  chapter_istio-ambient-mode/helm/values/istio-cni.values.yaml
  chapter_istio-ambient-mode/helm/values/istiod.values.yaml
  chapter_istio-ambient-mode/helm/values/kiali.values.yaml
  chapter_istio-ambient-mode/helm/values/prometheus-stack.values.yaml
  chapter_istio-ambient-mode/helm/values/ztunnel.values.yaml
  chapter_istio-ambient-mode/image/kiali-L4-authorizationpolicy-applied.png
  chapter_istio-ambient-mode/image/kiali-L4-authorizationpolicy-notapplied.png
  chapter_istio-ambient-mode/image/kiali-L7-authz-autholizationpolicy-applied.png
  chapter_istio-ambient-mode/image/kiali-L7-authz-autholizationpolicy-notapplied.png
  chapter_istio-ambient-mode/image/kiali-graph-namespace.png
  chapter_istio-ambient-mode/image/kiali-overview.png
  chapter_istio-ambient-mode/image/kiali-refresh-interval.png
  chapter_istio-ambient-mode/image/kiali-traffic-graph-http.png
  chapter_istio-ambient-mode/image/kiali-traffic-graph-tcp.png
  chapter_istio-ambient-mode/image/kiali-traffic-graph-workload.png
  chapter_istio-ambient-mode/image/secure-overlay-layer.png
  chapter_istio-ambient-mode/image/waypoint-proxy-layer.png
  chapter_istio-ambient-mode/kind/config.yaml
  chapter_istio-ambient-mode/networking/L4-authorization-policy.yaml
  chapter_istio-ambient-mode/networking/L7-authorization-policy.yaml
  chapter_istio-ambient-mode/networking/k8s-gateway.yaml
  chapter_istio-ambientmesh/README.md
  chapter_istio-ambientmesh/image/kiali-L4-authz-autholizationpolicy-applied.png
  chapter_istio-ambientmesh/image/kiali-L4-authz-autholizationpolicy-notapplied.png
  chapter_istio-ambientmesh/image/kiali-L7-authz-autholizationpolicy-applied.png
  chapter_istio-ambientmesh/image/kiali-L7-authz-autholizationpolicy-notapplied.png
  chapter_istio-ambientmesh/image/kiali-graph-namespace.png
  chapter_istio-ambientmesh/image/kiali-graph-refresh-interval.png
  chapter_istio-ambientmesh/image/kiali-graph-traffic-http.png
  chapter_istio-ambientmesh/image/kiali-graph-traffic-tcp.png
  chapter_istio-ambientmesh/image/kiali-graph-workload.png
  chapter_istio-ambientmesh/image/kiali-overview.png
  chapter_istio-ambientmesh/kind/config.yaml
Labels: documentation, enhancement, IstioAmbient

#397 Update images and fix typos
  chapter_istio/README.md
  chapter_istio/image/istio-architecture.png
  chapter_istio/image/kiali-L4-authz-autholizationpolicy-applied.png
  chapter_istio/image/kiali-L4-authz-autholizationpolicy-notapplied.png
  chapter_istio/image/kiali-L7-authz-autholizationpolicy-applied.png
  chapter_istio/image/kiali-L7-authz-autholizationpolicy-notapplied.png
  chapter_istio/image/kiali-graph-fault-injection-delay.png
  chapter_istio/image/kiali-graph-service-entry.png
Labels: Istio
