Repository cloudnativedaysjp/cnd-handson, pull requests merged in 2024-11, with the labels that each got.

#419 リハの指摘点を修正
  chapter_kubernetes/README.md
  chapter_kubernetes/image/cndw-tshoot-diagram.png
  chapter_kubernetes/image/tmp
  chapter_kubernetes/manifests/blue-green.yaml
  chapter_kubernetes/manifests/cndw-web.yaml
  chapter_kubernetes/manifests/configmap-pod.yaml
  chapter_kubernetes/manifests/default-deny-all.yaml
  chapter_kubernetes/manifests/handson-configmap.yaml
  chapter_kubernetes/manifests/handson-cronjob.yaml
  chapter_kubernetes/manifests/handson-csr.yaml
  chapter_kubernetes/manifests/handson-init.yaml
  chapter_kubernetes/manifests/handson-job.yaml
  chapter_kubernetes/manifests/handson-policy.yaml
  chapter_kubernetes/manifests/handson-volume.yaml
  chapter_kubernetes/manifests/hello-world-ingress.yaml
  chapter_kubernetes/manifests/hello-world-service.yaml
  chapter_kubernetes/manifests/hello-world.yaml
  chapter_kubernetes/manifests/kubectl-pod.yaml
  chapter_kubernetes/manifests/liveness-pod.yaml
  chapter_kubernetes/manifests/netpol-pod.yaml
  chapter_kubernetes/manifests/readiness-pod.yaml
  chapter_kubernetes/manifests/resource-test.yaml
  chapter_kubernetes/manifests/rollout.yaml
  chapter_kubernetes/manifests/test-deployment.yaml
  chapter_kubernetes/manifests/test-resource-quota.yaml
Labels: kubernetes

#424 docs: edit root README
  README.md
Labels: documentation, cndw2024

#425 docs: add release of Istio Ambient GA
  chapter_istio-ambient-mode/README.md
Labels: documentation, IstioAmbient, cndw2024

#438 docs(fix): apply feedback from rehearsal
  chapter_istio/README.md
Labels: documentation, Istio, cndw2024

#426 Update chapter_kubernetes/README.md
  chapter_kubernetes/README.md
Labels: kubernetes

#441 fix: Istio service entry設定を変更
  chapter_istio/README.md
  chapter_istio/image/kiali-graph-service-entry.png
  chapter_istio/networking/service-entry.yaml
Labels: bug, Istio, cndw2024

#445 fix: Istio service entry設定を変更
  chapter_istio/README.md
  chapter_istio/image/kiali-graph-service-entry.png
  chapter_istio/networking/service-entry.yaml
Labels: bug, Istio, cndw2024
